<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    {% if enabled %}
        {% trans %}Profiler enabled{% endtrans %}
    {% else %}
        {% trans %}Profiler disabled{% endtrans %}
    {% endif %}
</body>
</html>